.cover__link {
  background-image: url(../../../images/cover__background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

/* как делать эффект затемнения. стандарные рекомендации через position relative и absolute и псевдоклассы
https://coderistu.ru/2020/08/02/%d0%ba%d0%b0%d0%ba-%d1%81%d0%b4%d0%b5%d0%bb%d0%b0%d1%82%d1%8c-css-%d0%b7%d0%b0%d1%82%d0%b5%d0%bc%d0%bd%d0%b5%d0%bd%d0%b8%d0%b5-%d1%84%d0%be%d0%bd%d0%b0/
https://qna.habr.com/q/412491 */  

.cover__link:before {
  content: '';
  position: absolute;
  background: #2A2C2F;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .3;
  transition: opacity .5s ease;
}
  
.cover__link:hover::before {
  background: #2A2C2F;
  opacity: .8;
}