.intro__title {
    max-width: 690px;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    margin: 0 0 40px 0;
  }
  
  @media screen and (max-width: 767px) {
    .intro__title {
      font-size: 32px;
      line-height: 1.09;
      max-width: 250px; /*намеренно уменьшила максимальную ширину элемента с рекомендованной 288px,
      чтобы частица "не" переносилась на новую строку, как в макете, "не видели?" - на одной строке*/
    }
  }